.contacts {
  padding: 50px 0;
  &__title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
  &__block {
    background: black;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    max-width: 620px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &-title {
      font-size: 25px;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
    &-subtitle {
      color: #fff;
      text-align: center;
      font-size: 22px;
    }
    &-phone {
      color: #FFFFFF;
      text-align: center;
      font-size: 22px;
      transition: .3s all;
      &:hover {
        color: #B61E25;
      }
    }
    &::after {
      content: " ";
      position: absolute;
      bottom: -40px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 42px 310px 0 310px;
      border-color: black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &-link {
      transition: .3s all;
      .stroke {
        width: 40px;
        height: 40px;
        transition: .3s all;
        path {
          transition: .3s all;
        }
      }
      .fill {
        width: 40px;
        height: 40px;
        transition: .3s all;
        path {
          transition: .3s all;
        }
      }
      &:hover {
        .fill {
          path {
            fill: #B61E25;
          }
        }
        .stroke {
          path {
            stroke: #B61E25;
          }
         
        }
        // svg {
        //   path {
        //     fill:#B61E25;
        //   }
        // }
      }
    }
  }
}
@media (max-width: 670px){
  .contacts {
    padding: 50px 0;
    &__title {
      font-size: 30px;
    }
    &__block {
      gap: 20px;
      &::after {
        display: none;
      }
      &-title {
        font-size: 22px;
      }
      &-subtitle {
        font-size: 18px;
      }
      &-phone {
        font-size: 18px;
      }
    }
  }
}